/*FONTS*/
@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSans-Narrow.eot");
  src: local("PT Sans Narrow"), local("PTSans-Narrow"), url("../fonts/PTSans-Narrow.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Narrow.woff2") format("woff2"), url("../fonts/PTSans-Narrow.woff") format("woff"), url("../fonts/PTSans-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSans-NarrowBold.eot");
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url("../fonts/PTSans-NarrowBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-NarrowBold.woff2") format("woff2"), url("../fonts/PTSans-NarrowBold.woff") format("woff"), url("../fonts/PTSans-NarrowBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/*BODY*/
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  color: #f7f4f1;
  background-color: #292929; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.slider__toggles {
  position: absolute;
  margin: 0;
  width: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 50%;
  margin-left: -39px; }

.slider__toggle {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #a5a5a5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer; }

.slider__toggle--current {
  border-color: #ffffff;
  background-color: #ffffff; }

@media (min-width: 768px) {
  .slider__toggles {
    width: 78px;
    padding: 0 25px;
    left: 50%;
    margin-left: -63px; } }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.page-header__logo {
  height: 85px;
  text-align: center; }

.page-header__logo img {
  width: 226px;
  height: 85px; }

@media (min-width: 768px) {
  .page-header {
    background-color: #000000; }
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../../img/background/index-bg-x1.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: 1338px auto; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header__logo {
      background-image: url("../../img/background/index-bg.png"); } }

@media (min-width: 768px) {
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px; } }

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-size: cover;
    background-position: center 0; }
  .page-header__logo img {
    margin-top: 57px; } }

.main-nav {
  width: 320px;
  margin: 0 auto;
  position: relative;
  background-color: #826550;
  min-height: 51px; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:hover, .main-nav__toggle:active {
    background-color: #624530; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }

.main-nav--opened .main-nav__toggle {
  top: 0;
  left: 0;
  right: auto; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3); }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
    .main-nav--closed .site-list__item--active {
      display: block; }
  .main-nav--closed .user-list__item {
    display: none; }
  .main-nav--closed .site-list__item--active a {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38; }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    -webkit-box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0; }
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left; }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38; } }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000; }
  .main-nav__toggle {
    display: none; }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px; } }

.site-list {
  font-weight: bold; }

.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71453f; }

.site-list a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46; }

.site-list a[href]:active {
  background-color: #6a4d38;
  border-top-color: #6a4d38; }

@media (min-width: 768px) {
  .site-list {
    width: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .site-list__item {
    margin-right: 32px; }
    .site-list__item:last-child {
      margin-right: 0; }
    .site-list__item--active {
      position: relative; }
      .site-list__item--active::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;
        height: 3px;
        background-color: #826550; }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none; }
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000; }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3; } }

@media (min-width: 1200px) {
  .site-list {
    width: 780px; }
  .site-list__item {
    margin-right: 0; }
    .site-list__item--active::after {
      right: 30px;
      left: 30px; }
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px; }
  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff; }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1; } }

.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; }

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3; }
  .user-list__login-icon polygon {
    fill: #ffffff; }

@media (min-width: 768px) {
  .user-list {
    width: 60px; }
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0; }
    .user-list__login:hover .user-list__login-icon {
      opacity: 1; }
      .user-list__login:hover .user-list__login-icon polygon {
        fill: #826550; }
    .user-list__login:active .user-list__login-icon {
      opacity: 0.3; }
      .user-list__login:active .user-list__login-icon polygon {
        fill: #ffffff; }
  .user-list__login-icon {
    top: 29px;
    left: 12px; } }

@media (min-width: 1200px) {
  .user-list {
    width: auto;
    max-width: 160px; }
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding: 25px 30px 23px 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; }
    .user-list__login:hover {
      color: #000000;
      background-color: #ffffff; }
    .user-list__login:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff; }
    .user-list__login:hover .user-list__login-icon {
      opacity: 0.3; }
      .user-list__login:hover .user-list__login-icon polygon {
        fill: #000000; }
    .user-list__login:active .user-list__login-icon {
      opacity: 0.1; }
  .user-list__login-icon {
    left: 15px; } }

.stats {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px; }

.stats__header {
  padding: 30px 40px 25px 40px;
  color: #000000;
  background-color: #ffffff; }

.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px; }

.stats__legend sup {
  top: -0.25em;
  font-size: 90%; }

.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #292929; }

.stats__legend--top {
  display: none; }

.stats__list {
  width: 100%;
  border-collapse: collapse; }

.stats__list tr {
  color: #ffffff;
  background-color: #404040; }
  .stats__list tr:nth-child(2) {
    background-color: #4e4e4e; }
  .stats__list tr:nth-child(3) {
    background-color: #353535; }
  .stats__list tr:nth-child(4) {
    background-color: #404040; }

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top; }

.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold; }

.stats__value sup {
  top: -0.35em;
  margin-left: 5px; }

.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right; }

@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin-top: -185px; }
  .stats__header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .stats__header::before {
      content: "";
      position: absolute;
      top: 27px;
      left: -14px;
      border: 15px solid transparent;
      border-bottom-color: #ffffff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .stats__slogan {
    width: 240px;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none; }
  .stats__intro {
    width: 210px;
    margin-top: 5px;
    padding-right: 37px;
    text-align: left; }
  .stats__legend--top {
    width: 240px;
    display: block;
    color: rgba(0, 0, 0, 0.3); }
  .stats__legend--bottom {
    display: none; }
  .stats__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .stats__list tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .stats__list tr {
    width: 250px;
    padding: 25px 35px;
    padding-bottom: 28px; }
  .stats__list td {
    display: block;
    width: auto;
    padding: 0; }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px; }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left; }
  .stats__field br {
    display: none; } }

@media (min-width: 1200px) {
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    margin-top: -160px; }
  .stats__header {
    display: block;
    width: 240px; }
    .stats__header::before {
      top: 22px; }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px; }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px; }
  .stats__legend--top {
    width: auto; }
  .stats__list {
    width: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.advantages {
  background-image: url("../../img/decoration/border-decoration.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 55px; }

.advantages__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }

.advantages__item {
  padding-top: 125px;
  position: relative; }
  .advantages__item::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background-image: url("../../img/decoration/scissors.svg");
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    margin-left: -50px;
    border-radius: 50%; }
  .advantages__item:nth-child(2)::before {
    background-image: url("../../img/decoration/chair.svg"); }
  .advantages__item:nth-child(3)::before {
    background-image: url("../../img/decoration/barber.svg"); }

.slider__item {
  display: none; }

.slider__item--current {
  display: block; }

.advantages__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 18px; }

.advantages-description {
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 31px; }

@media (min-width: 768px) {
  .advantages {
    background-image: url("../../img/decoration/border-decoration.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 55px; }
  .advantages__wrapper {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 64px; }
  .advantages__toggles {
    display: none; }
  .advantages__item {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 160px;
    text-align: left;
    display: block; }
    .advantages__item:not(:last-child) {
      border-bottom: 1px solid #4a4a4a; }
    .advantages__item::before {
      top: 40px;
      left: 30px;
      margin-left: 0; }
  .advantages-description {
    width: 100%;
    margin-bottom: 0; }
  .advantages-description br {
    display: none; } }

@media (min-width: 1200px) {
  .advantages {
    padding-bottom: 100px; }
  .advantages__wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 120px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 78px; }
  .advantages__item {
    max-width: 320px;
    padding: 127px 43px 40px 43px;
    text-align: center; }
    .advantages__item:not(:last-child) {
      border-bottom: none; }
    .advantages__item::before {
      top: 0;
      left: 50%;
      margin-left: -50px; } }

.news {
  background-color: #ffffff;
  color: #000000;
  margin-top: -1px;
  padding-top: 1px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5ddd5; }

.news__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.news__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 320px;
  padding: 20px 0; }
  .news__item:not(:last-child) {
    border-bottom: 1px solid #e5ddd5; }

.news__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px; }

.news__text {
  max-width: 210px; }

.news__date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 4px 11px 1px 11px;
  margin-top: 20px;
  margin-right: 20px; }
  .news__date::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: #ffffff;
    background-image: url("../../img/decoration/decoration-border-day.svg");
    background-repeat: no-repeat;
    background-position: center top;
    bottom: -10px;
    left: 0; }

.news__day {
  font-size: 30px;
  line-height: 30px; }

.news__date span {
  margin-top: -7px; }

.news__text {
  margin: 0; }

.button {
  font: inherit;
  border: 1px solid #e5ddd5;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 12px 20px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold; }

.news__to-all {
  width: 100%; }

.news__item:nth-child(3) {
  display: none; }

@media (min-width: 768px) {
  .news__wrapper {
    max-width: 768px;
    padding: 0 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .news__list {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .news__item:not(:last-child) {
    border-bottom: none; }
  .news__to-all {
    max-width: 160px;
    margin-top: 30px;
    padding: 6px 20px; } }

@media (min-width: 1200px) {
  .news__wrapper {
    max-width: 1200px;
    padding: 0 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .news__item:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .news__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .news__text {
    padding-right: 0; } }

.reviews {
  background-color: #ffffff;
  color: #000000;
  padding-bottom: 90px;
  position: relative;
  padding-top: 20px;
  background-image: url("../../img/decoration/decorative-border-black.svg");
  background-repeat: no-repeat;
  background-position: bottom; }

.reviews__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.reviews__btn-prev,
.reviews__btn-next {
  display: none; }

.reviews__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }

.reviews__author-picture {
  margin-right: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.reviews__author-picture img {
  width: 48px;
  height: 48px;
  border: 1px solid #eae4dd;
  margin-top: -4px; }

.reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 10px; }

.reviews__text {
  margin: 0; }

.reviews__btn {
  display: none; }

.reviews__text {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px; }

.reviews__toggles .slider__toggle--current {
  background-color: #000000;
  border-color: #000000; }

@media (min-width: 768px) {
  .reviews {
    background-image: none; }
  .reviews__wrapper {
    max-width: 768px;
    padding: 0 64px; }
  .reviews__author-picture {
    margin-right: 20px;
    margin-left: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .reviews__author-picture img {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%; }
  .reviews__btn-prev,
  .reviews__btn-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #e5ddd5;
    background-image: url("../../img/decoration/left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px; }
  .reviews__btn-next {
    background-image: url("../../img/decoration/right-arrow.svg");
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .reviews__item {
    border: 1px solid #e5ddd5;
    border-left: 0;
    border-right: 0;
    padding-top: 30px; }
  .reviews__toggles {
    z-index: 2;
    background-color: #ffffff;
    bottom: 86px; } }

@media (min-width: 1200px) {
  .reviews__wrapper {
    max-width: 1200px;
    padding: 0 120px; }
  .reviews__item {
    border: 1px solid #e5ddd5;
    padding-top: 0;
    padding-bottom: 0; }
  .reviews__author-picture {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    margin-right: 20px;
    margin-left: 30px; }
  .reviews__author-picture img {
    width: 249px;
    height: 100%;
    border-radius: 0;
    margin-top: 0; }
  .reviews__author-name {
    margin-top: 20px;
    display: block; }
  .reviews__btn-prev {
    margin-right: 20px; }
  .reviews__btn-next {
    margin-left: 20px; }
  .reviews__text {
    margin-right: 80px; }
  .reviews__toggles {
    z-index: 2;
    background-color: #ffffff;
    bottom: 20px; } }

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 35px;
  padding-bottom: 25px; }

.page-footer__contacts {
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center; }

.contacts__title {
  display: block;
  margin: 0;
  margin-bottom: 15px; }

.contacts__text {
  margin: 0; }

.contacts__phone {
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #3e3e3e; }

.contacts__phone-mobile {
  display: none; }

/*SOCIAL*/
.page-footer__social {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 35px; }

.social__title {
  display: none;
  text-align: center; }

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.social__item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.social__link {
  padding: 35px;
  display: block;
  border: 1px solid #3f3f3f;
  background-image: url("../../img/social/social-vk.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.social__link--facebook {
  background-image: url("../../img/social/social-fb.png"); }

.social__link--instagram {
  background-image: url("../../img/social/social-insta.png"); }

/*COPYRIGHT*/
.page-footer__copyright {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }

.copyright__text {
  display: block;
  text-align: center;
  margin-bottom: 15px; }

.copyright__link {
  width: 100%;
  border: 1px solid #3f3f3f; }
